/** { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }*/

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgb(165,235,255)
}

h1 {
	font-weight: bold;
	text-align: center;
	font-size: 5vw;
	color: white;
	width: 90vw;
	padding: 2vw;
	background-color: rgb(50,20,100);
	position: relative;
    left: 50%;
	transform: translate(-50%, 0%);
}

.paragraph {
	color: rgb(100,100,100);
	text-align: justify;
	margin-top: 1em;
	margin-bottom: 1em;
}

h2 {
	font-weight: bold;
	font-size: 4vw;
	color: white;
	font-style: italic;
	width: 90vw;
	padding: 1.5vw;
	margin-bottom: 1em;
	background-color: rgb(50,20,100);
	position: relative;
    left: 50%;
	transform: translate(-50%, 0%);
}

.pic-grid {
	width: 85vw;
	margin-left: -10vw;
	margin-right: -10vw;
	margin-bottom: 1em;
	text-align: center;
	transform:translate(-4%, 0%);
}

.mypics {
	width: 23vw;
	margin: 1vw;
}

.hobby-pic {
	height: auto; 
    width: auto; 
    max-height: 15vw;
	margin: 1vw;
}

.hobby-pic-horizontal {
	height: 10vw;
	width: 15vw;
	margin: 1vw;
}

.hobby-text {
	padding-left: 1vw;
	padding-right: 2vw;
	text-align: justify;
	font-size: 2vw;
}

.horizontal-card {
	display:flex;
	background-color: white;
	align-items:center;
	justify-content:center;
	border-radius: 25px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.social-link {
	height: auto; 
    width: auto; 
    max-height: 8vw;
	margin: 2vw;
}

.about-me {
	margin-bottom: 4em;
}

.pictures-of-me {
	margin-bottom: 4em;
}

.my-interests {
	margin-bottom: 4em;
}

.social-media {
	margin-bottom: 5em;
}